<h2>edit user</h2>

<%= form_for @user do |f| %>

	<div class="form-group">
		<%= f.label :time_zone %>
		<%= f.time_zone_select :time_zone %>
	</div>

	<div class="form-group">
		<%= f.submit "save", :class => "btn btn-primary" %>
	</div>

<% end %>
